# Reading CSV File with python

In [20]:
with open("student_marks.csv") as student_data:
    for row in student_data:
        print(row)

Shruti,English,85

Shubham,Maths,80

Sahil,History,35

Shruti,Maths,65

Shruti,History,42

Shubham,English,60

Shubham,History,30

Sahil,English,35

Sahil,Maths,84

Sahil,Science,84

In [21]:
student_info = {} # dict
with open("student_marks.csv") as student_data:
    for row in student_data:
        student_name, subject,mark = row.split(",")
        
        print("-----------------------")
        print("Name: ",student_name)
        print("Subject: ",subject)
        print("Marks: ",mark)
        print("-----------------------")

-----------------------
Name:  Shruti
Subject:  English
Marks:  85

-----------------------
-----------------------
Name:  Shubham
Subject:  Maths
Marks:  80

-----------------------
-----------------------
Name:  Sahil
Subject:  History
Marks:  35

-----------------------
-----------------------
Name:  Shruti
Subject:  Maths
Marks:  65

-----------------------
-----------------------
Name:  Shruti
Subject:  History
Marks:  42

-----------------------
-----------------------
Name:  Shubham
Subject:  English
Marks:  60

-----------------------
-----------------------
Name:  Shubham
Subject:  History
Marks:  30

-----------------------
-----------------------
Name:  Sahil
Subject:  English
Marks:  35

-----------------------
-----------------------
Name:  Sahil
Subject:  Maths
Marks:  84

-----------------------
-----------------------
Name:  Sahil
Subject:  Science
Marks:  84

-----------------------

In [22]:
student_info = {} # dict
with open("student_marks.csv") as student_data:
    for row in student_data:
        student_name,subject,mark = row.split(",")
        mark = int(mark)
        if student_name in student_info:
            student_info[student_name].append(mark)
        else:
            student_info[student_name] = list([mark])
        
print(student_info)

{'Shruti': [85, 65, 42], 'Shubham': [80, 60, 30], 'Sahil': [35, 35, 84, 84]}

In [23]:
for k,v in student_info.items():
    print("---------------------------")
    print(f"Student Name = {k}")
    print(f"Marks = {v}")
    print(f"Sum Of Marks = {sum(v)}")
    print(f"Minimum Of Marks = {min(v)}")
    print(f"Maximum Of Marks = {max(v)}")
    print(f"Average Of Marks = {round(sum(v)/len(v),2)}")

---------------------------
Student Name = Shruti
Marks = [85, 65, 42]
Sum Of Marks = 192
Minimum Of Marks = 42
Maximum Of Marks = 85
Average Of Marks = 64.0
---------------------------
Student Name = Shubham
Marks = [80, 60, 30]
Sum Of Marks = 170
Minimum Of Marks = 30
Maximum Of Marks = 80
Average Of Marks = 56.67
---------------------------
Student Name = Sahil
Marks = [35, 35, 84, 84]
Sum Of Marks = 238
Minimum Of Marks = 35
Maximum Of Marks = 84
Average Of Marks = 59.5