# Pandas Intro

2 dimension form -> ROW & COLUMN

In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\memon\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\memon\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\memon\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\memon\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\memon\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\memon\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
df_movies = pd.read_csv("movies.csv")

In [5]:
df_movies.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,PK,Bollywood,2014,8.1,UTV Motion Pictures,850.0,7563.0,Millions,INR,Hindi
1,Conjuring 2,Hollywood,2016,7.3,Warner Bros. Pictures,40.0,321.0,Millions,USD,English
2,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
3,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
4,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English

In [6]:
df_movies.tail()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
35,Shershaah,Bollywood,2021,8.4,Dharma Productions,500.0,950.0,Millions,INR,Hindi
36,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,1.0,12.5,Billions,INR,Kannada
37,Pushpa: The Rise - Part 1,Bollywood,2021,7.6,Mythri Movie Makers,2.0,3.6,Billions,INR,Telugu
38,RRR,Bollywood,2022,8.0,DVV Entertainment,5.5,12.0,Billions,INR,Telugu
39,Baahubali: The Beginning,Bollywood,2015,8.0,Arka Media Works,1.8,6.5,Billions,INR,Telugu

In [7]:
df_movies.head(2)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,PK,Bollywood,2014,8.1,UTV Motion Pictures,850.0,7563.0,Millions,INR,Hindi
1,Conjuring 2,Hollywood,2016,7.3,Warner Bros. Pictures,40.0,321.0,Millions,USD,English

In [8]:
df_movies.title

0                                              PK
1                                     Conjuring 2
2                                 Pather Panchali
3     Doctor Strange in the Multiverse of Madness
4                           Thor: The Dark World
5                                 Thor: Ragnarok
6                         Thor: Love and Thunder
7                                      Terminator
8                        The Shawshank Redemption
9                                    Interstellar
10                       The Pursuit of Happyness
11                                      Gladiator
12                                        Titanic
13                          It's a Wonderful Life
14                                         Avatar
15                                  The Godfather
16                                The Dark Knight
17                               Schindler's List
18                                  Jurassic Park
19                                       Parasite
20                              Avengers: Endgame
21                         Avengers: Infinity War
22             Captain America: The First Avenger
23            Captain America: The Winter Soldier
24                    Dilwale Dulhania Le Jayenge
25                                       3 Idiots
26                       Kabhi Khushi Kabhie Gham
27                               Bajirao Mastani
28                               Taare Zameen Par
29                            Munna Bhai M.B.B.S.
30                                             PK
31                                          Sanju
32                              The Kashmir Files
33                              Bajrangi Bhaijaan
34                                         Race 3
35                                      Shershaah
36                               K.G.F: Chapter 2
37                      Pushpa: The Rise - Part 1
38                                            RRR
39                       Baahubali: The Beginning
Name: title, dtype: object

In [9]:
df_movies["title"]

0                                              PK
1                                     Conjuring 2
2                                 Pather Panchali
3     Doctor Strange in the Multiverse of Madness
4                           Thor: The Dark World
5                                 Thor: Ragnarok
6                         Thor: Love and Thunder
7                                      Terminator
8                        The Shawshank Redemption
9                                    Interstellar
10                       The Pursuit of Happyness
11                                      Gladiator
12                                        Titanic
13                          It's a Wonderful Life
14                                         Avatar
15                                  The Godfather
16                                The Dark Knight
17                               Schindler's List
18                                  Jurassic Park
19                                       Parasite
20                              Avengers: Endgame
21                         Avengers: Infinity War
22             Captain America: The First Avenger
23            Captain America: The Winter Soldier
24                    Dilwale Dulhania Le Jayenge
25                                       3 Idiots
26                       Kabhi Khushi Kabhie Gham
27                               Bajirao Mastani
28                               Taare Zameen Par
29                            Munna Bhai M.B.B.S.
30                                             PK
31                                          Sanju
32                              The Kashmir Files
33                              Bajrangi Bhaijaan
34                                         Race 3
35                                      Shershaah
36                               K.G.F: Chapter 2
37                      Pushpa: The Rise - Part 1
38                                            RRR
39                       Baahubali: The Beginning
Name: title, dtype: object

In [21]:
df_movies.shape

(40, 10)

In [11]:
df_movies.head(1)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,PK,Bollywood,2014,8.1,UTV Motion Pictures,850.0,7563.0,Millions,INR,Hindi

In [12]:
df_movies[["title","industry","studio","imdb_rating"]].head()

,title,industry,studio,imdb_rating
0,PK,Bollywood,UTV Motion Pictures,8.1
1,Conjuring 2,Hollywood,Warner Bros. Pictures,7.3
2,Pather Panchali,Bollywood,Government of West Bengal,8.3
3,Doctor Strange in the Multiverse of Madness,Hollywood,Marvel Studios,7.0
4,Thor: The Dark World,Hollywood,Marvel Studios,6.8

# Find Average. Min, And Max Rating Of All Movies

In [19]:
print("Max IMDB Rating of all movies =",df_movies["imdb_rating"].max(),"star")
print("Min IMDB Rating of all movies =",df_movies["imdb_rating"].min(),"star")
print("Average IMDB Rating of all movies =",df_movies["imdb_rating"].mean().round(2),"star")

Max IMDB Rating of all movies = 9.3 star
Min IMDB Rating of all movies = 1.9 star
Average IMDB Rating of all movies = 7.91 star

# Find Average. Min, And Max Rating Of Bollywood Movies

In [20]:
df_bolly = df_movies[df_movies["industry"] == "Bollywood"]

df_bolly

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,PK,Bollywood,2014,8.1,UTV Motion Pictures,850.0,7563.0,Millions,INR,Hindi
2,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
24,Dilwale Dulhania Le Jayenge,Bollywood,1995,8.0,Yash Raj Films,400.0,2000.0,Millions,INR,Hindi
25,3 Idiots,Bollywood,2009,8.4,Vinod Chopra Films,550.0,4000.0,Millions,INR,Hindi
26,Kabhi Khushi Kabhie Gham,Bollywood,2001,7.4,Dharma Productions,390.0,1360.0,Millions,INR,Hindi
27,Bajirao Mastani,Bollywood,2015,7.2,NaN,1.4,3.5,Billions,INR,Hindi
28,Taare Zameen Par,Bollywood,2007,8.3,NaN,120.0,1350.0,Millions,INR,Hindi
29,Munna Bhai M.B.B.S.,Bollywood,2003,8.1,Vinod Chopra Productions,100.0,410.0,Millions,INR,Hindi
30,PK,Bollywood,2014,8.1,Vinod Chopra Films,850.0,8540.0,Millions,INR,Hindi
31,Sanju,Bollywood,2018,NaN,Vinod Chopra Films,1.0,5.9,Billions,INR,Hindi
32,The Kashmir Files,Bollywood,2022,8.3,Zee Studios,250.0,3409.0,Millions,INR,Hindi
33,Bajrangi Bhaijaan,Bollywood,2015,8.1,Salman Khan Films,900.0,11690.0,Millions,INR,Hindi
34,Race 3,Bollywood,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi
35,Shershaah,Bollywood,2021,8.4,Dharma Productions,500.0,950.0,Millions,INR,Hindi
36,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,1.0,12.5,Billions,INR,Kannada
37,Pushpa: The Rise - Part 1,Bollywood,2021,7.6,Mythri Movie Makers,2.0,3.6,Billions,INR,Telugu
38,RRR,Bollywood,2022,8.0,DVV Entertainment,5.5,12.0,Billions,INR,Telugu
39,Baahubali: The Beginning,Bollywood,2015,8.0,Arka Media Works,1.8,6.5,Billions,INR,Telugu

In [22]:
df_bolly.shape

(18, 10)

In [23]:
print("Max IMDB Rating of bollywood movies =",df_bolly["imdb_rating"].max(),"star")
print("Min IMDB Rating of bollywood movies =",df_bolly["imdb_rating"].min(),"star")
print("Average IMDB Rating of bollywood movies =",df_bolly["imdb_rating"].mean().round(2),"star")

Max IMDB Rating of bollywood movies = 8.4 star
Min IMDB Rating of bollywood movies = 1.9 star
Average IMDB Rating of bollywood movies = 7.68 star

In [24]:
df_holly = df_movies[df_movies["industry"] == "Hollywood"]

df_holly

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
1,Conjuring 2,Hollywood,2016,7.3,Warner Bros. Pictures,40.00,321.0,Millions,USD,English
3,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.00,954.8,Millions,USD,English
4,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.00,644.8,Millions,USD,English
5,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.00,854.0,Millions,USD,English
6,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.00,670.0,Millions,USD,English
7,Terminator,Hollywood,1984,8.1,MGM Studios,6.40,78.3,Millions,USD,English
8,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.00,73.3,Millions,USD,English
9,Interstellar,Hollywood,2014,8.6,Warner Bros. Pictures,165.00,701.8,Millions,USD,English
10,The Pursuit of Happyness,Hollywood,2006,8.0,Columbia Pictures,55.00,307.1,Millions,USD,English
11,Gladiator,Hollywood,2000,8.5,Universal Pictures,103.00,460.5,Millions,USD,English
12,Titanic,Hollywood,1997,7.9,Paramount Pictures,200.00,2202.0,Millions,USD,English
13,It's a Wonderful Life,Hollywood,1946,8.6,Liberty Films,3.18,3.3,Millions,USD,English
14,Avatar,Hollywood,2009,7.8,20th Century Fox,237.00,2847.0,Millions,USD,English
15,The Godfather,Hollywood,1972,9.2,Paramount Pictures,7.20,291.0,Millions,USD,English
16,The Dark Knight,Hollywood,2008,9.0,Syncopy,185.00,1006.0,Millions,USD,English
17,Schindler's List,Hollywood,1993,9.0,Universal Pictures,22.00,322.2,Millions,USD,English
18,Jurassic Park,Hollywood,1993,8.2,Universal Pictures,63.00,1046.0,Millions,USD,English
19,Parasite,Hollywood,2019,8.5,NaN,15.50,263.1,Millions,USD,English
20,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,400.00,2798.0,Millions,USD,English
21,Avengers: Infinity War,Hollywood,2018,8.4,Marvel Studios,400.00,2048.0,Millions,USD,English
22,Captain America: The First Avenger,Hollywood,2011,6.9,Marvel Studios,216.70,370.6,Millions,USD,English
23,Captain America: The Winter Soldier,Hollywood,2014,7.8,Marvel Studios,177.00,714.4,Millions,USD,English

In [25]:
df_holly.shape

(22, 10)

In [26]:
print("Max IMDB Rating of hollywood movies =",df_holly["imdb_rating"].max(),"star")
print("Min IMDB Rating of hollywood movies =",df_holly["imdb_rating"].min(),"star")
print("Average IMDB Rating of hollywood movies =",df_holly["imdb_rating"].mean().round(2),"star")

Max IMDB Rating of hollywood movies = 9.3 star
Min IMDB Rating of hollywood movies = 6.8 star
Average IMDB Rating of hollywood movies = 8.09 star

In [27]:
df_movies[df_movies["imdb_rating"] == 1.9]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
34,Race 3,Bollywood,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi